@font-face {
  font-family: "Raleway";
  src: url("../public/Raleway.ttf") format("truetype");
}
:root {
  --Black: #222222;
  --White: #ffffff;
  --BgColor: #e7dfd8;
  --MainPurple: #5f366e;
  --SecondaryPurple: #f2efff;
  --MainYellow: #ffa30c;
  --SecondaryYellow: #ebc06a60;
  --Red: #ff5f56;
  --BorderRadius: 2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
}
