.Main__Profile {
  min-height: 100vh;
  height: auto;
  font-size: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.Main__Form.DataBank,
.Main__Form.AddDataBank,
.Main__Form.UpdateDataBank {
  width: 50em;
  margin-top: 75px;
}
.Main__Form.DataBank {
  background-color: transparent;
}
.Main__Form--Inputs.AddDataBank {
  width: 100%;
  height: 100%;
  padding: 10px 50px;
}

@media (width <= 768px) {
  .Main__Profile {
    display: initial;
  }
  .Main__Form.DataBank,
  .Main__Form.AddDataBank,
  .Main__Form.UpdateDataBank {
    width: 100%;
    min-height: 100vh;
    height: auto;
  }
}
