.Main {
  position: relative;
  overflow: hidden;

  font-size: 10px;
}
.Main__Brown {
  background: var(--BgColor);
}
.Main__White {
  background: var(--White);
}

/* ESTILOS PARA LAS SECCIONES */
.Main__Presentation,
.Main__Advantages,
.Main__Services,
.Main__Message {
  width: 144em;
  margin: auto;

  display: flex;
  flex-direction: column;
}
.Main__Standards,
.Main__ContactMessage {
  width: 144em;
  margin: auto;

  display: flex;
}
.Main__Advantages,
.Main__Services,
.Main__Message,
.Main__Standards,
.Main__ContactMessage {
  gap: 20px;
  padding: 40px 0px;
}
/* ESTILOS PARA EL CONTENIDO DE LA PRESENTACIÓN */
.Main__Presentation__Content {
  display: flex;
  margin-top: 75px;
}
.Main__Presentation__Content--Text {
  width: 100%;
  padding: 40px 0;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Main__Presentation__Content--Text--Title {
  font-size: 6.5em;
}
.Main__Presentation__Content--Text--SubTitle {
  font-size: 3.5em;
}
.Main__Presentation__Content--Text--Button {
  position: relative;
  border: 3px solid var(--Black);
  font-size: 2.5em;
  color: var(--Black);
  width: 250px;
  height: 60px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Main__Presentation__Content--Text--Button--Text {
  z-index: 1;
}
.Main__Presentation__Content--Text--Button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 50%;
  height: 1px;
  width: 1px;
  background: var(--White);
  z-index: 0;

  transition: 0.3s ease-in-out all;
}
.Main__Presentation__Content--Text--Button:hover::after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.Main__Presentation__Content--Image {
  width: 100%;
  background-image: url("../../public/Presentation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ESTILOS PARA EL CONTENIDO DE LAS VENTAJAS */
.Main__Advantages--Title,
.Main__Advantages--Title--Text {
  margin: auto;
  max-width: 60%;
  text-align: center;
}
.Main__Advantages--Title {
  font-size: 6.5em;
}
.Main__Advantages--Title--Text {
  font-size: 2.5em;
}

/* ESTILOS PARA EL CONTENIDO DE LOS SERVICIOS */
.Main__Services--Title {
  margin: auto;
  max-width: 60%;
  text-align: center;
  font-size: 6.5em;
}
.Main__Services--Content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.Main__Services--Content--Article {
  position: relative;
  background: var(--White);
  grid-column: span 1;
  min-height: 500px;
  height: auto;
  padding: 80px 20px;
}
.Main__Services--Content--Article--Picture {
  position: absolute;
  top: -60px;
  left: calc(50% - 60px);
  width: 120px;
  height: 120px;
  padding: 20px;
  border-radius: 50%;
  background: var(--Black);

  display: flex;
  align-items: center;
  justify-content: center;
}
.Main__Services--Content--Article--Picture img {
  width: 100%;
}
.Main__Services--Content--Article--Title {
  font-size: 4em;
  text-align: center;
  font-weight: bold;
}
.Main__Services--Content--Article--Details {
  margin-top: 40px;
  font-size: 2.5em;
  text-align: center;
}

/* ESTILOS PARA EL MENSAJE */
.Main__Message--Title {
  text-align: center;
  font-size: 6.5em;
}
.Main__Message--Picture {
  height: 400px;
  background-image: url("../../public/Mensaje.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ESTILOS PARA ESTÁNDARES Y EL MENSAJE PARA CONTACTAR */
.Main__Standards--Picture,
.Main__ContactMessage--Picture {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Main__Standards--Picture {
  background-image: url("../../public/Estandares.jpg");
}
.Main__ContactMessage--Picture {
  background-image: url("../../public/Contacto.jpg");
}
.Main__Standards--Details,
.Main__ContactMessage--Details {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Main__Standards--Details--Title {
  text-align: center;
  font-size: 6.5em;
  max-width: 80%;
  margin: auto;
}
.Main__Standards--Details--Details,
.Main__ContactMessage--Details--Text {
  font-size: 2.5em;
  text-align: center;
}

/* DISEÑO PARA CELULARES */
@media (width <= 1440px) {
  .Main__Presentation,
  .Main__Advantages,
  .Main__Services,
  .Main__Message,
  .Main__Standards,
  .Main__ContactMessage {
    width: 100%;
  }
  .Main__Advantages,
  .Main__Services,
  .Main__Message,
  .Main__Standards,
  .Main__ContactMessage,
  .Main__Presentation__Content--Text {
    padding: 40px 20px;
  }
}
@media (width <= 1337px) {
  .Main {
    font-size: 8.5px;
  }
  .Main__Presentation__Content--Text--Button {
    width: 200px;
  }
}
@media (width <= 1024px) {
  .Main {
    font-size: 8px;
  }
  .Main__Presentation__Content--Text--Button {
    width: 150px;
  }
  .Main__Advantages--Title,
  .Main__Advantages--Title--Text,
  .Main__Services--Title,
  .Main__Standards--Details--Title {
    max-width: 100%;
  }
  .Main__Services--Content {
    grid-template-columns: 1fr;
    gap: 120px;
  }
  .Main__Services--Content--Article {
    min-height: 100px;
  }
  .Main__Message--Picture {
    height: 300px;
  }
}
@media (width <= 768px) {
  .Main {
    font-size: 7.5px;
  }
  .Main__Presentation__Content,
  .Main__Standards {
    flex-direction: column-reverse;
  }
  .Main__Presentation__Content--Image {
    height: 400px;
  }
  .Main__Services--Content {
    gap: 100px;
  }
  .Main__Services--Content--Article--Picture {
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
  }
  .Main__Message--Picture,
  .Main__Standards--Picture,
  .Main__ContactMessage--Picture {
    height: 200px;
  }
  .Main__ContactMessage {
    flex-direction: column;
  }
}
@media (width <= 500px) {
  .Main {
    font-size: 7px;
  }
  .Main__Presentation__Content--Image {
    height: 300px;
  }
  .Main__Presentation__Content--Text--Button {
    height: 50px;
  }
}
@media (width <= 378px) {
  .Main {
    font-size: 6.5px;
  }
}
