.Main__Login {
  min-height: 100vh;
  height: auto;
  background-color: var(--BgColor);
  font-size: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.Main__Form.Login {
  width: 50em;
}
.Main__Form--Inputs.Login {
  width: 100%;
  height: 100%;
  padding: 10px 50px;
}
.Main__Login--Form--RegisterTitle {
  width: 100%;
  color: var(--MainPurple);
  font-weight: bold;
  text-align: center;
  font-size: 1.6em;
}
.Main__Login--Form--Register {
  display: flex;
  gap: 10px;
}
.Main__Login--Form--Register small {
  font-size: 13px;
  font-weight: bold;
  color: var(--MainPurple);
}
.Main__Login--Form--Register small a {
  transition: 0.3s ease-in-out all;
}
.Main__Login--Form--Register small:hover a {
  color: var(--MainYellow);
}
@media (width <= 768px) {
  .Main__Login {
    display: initial;
  }
  .Main__Form.Login {
    width: 100%;
    min-height: 100vh;
    height: auto;
  }
}
