.Main__RegisterData {
  min-height: 100vh;
  height: auto;
  background-color: var(--BgColor);
  font-size: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.Main__Form.RegisterData {
  width: 50em;
}

.Main__Form--Inputs.RegisterData {
  width: 100%;
  height: 100%;
  padding: 10px 50px;
}

@media (width <= 768px) {
  .Main__RegisterData {
    display: initial;
  }
  .Main__Form.RegisterData {
    width: 100%;
    min-height: 100vh;
    height: auto;
  }
}
