.Main__WhyConsultant {
  overflow: hidden;
}
.Main__WhyConsultant__Brown {
  background: var(--BgColor);
}
.Main__WhyConsultant__White {
  background: var(--White);
}

/* ESTILOS PARA LAS SECCIONES */
.Main__WhyConsultant__Presentation,
.Main__WhyConsultant__Help,
.Main__WhyConsultant__Message,
.Main__WhyConsultant__Advantages,
.Main__WhyConsultant__Innovation {
  width: 1440px;
  margin: auto;

  display: flex;
  flex-direction: column;
}
.Main__WhyConsultant__Help,
.Main__WhyConsultant__Advantages,
.Main__WhyConsultant__Innovation {
  flex-direction: row;
}
.Main__WhyConsultant__Help,
.Main__WhyConsultant__Advantages,
.Main__WhyConsultant__Message,
.Main__WhyConsultant__Innovation {
  gap: 20px;
  padding: 40px 0px;
}
/* ESTILOS PARA EL CONTENIDO DE LA PRESENTACIÓN */
.Main__WhyConsultant__Presentation__Content {
  display: flex;
  gap: 20px;
  margin-top: 75px;
  padding: 40px 0;
}
.Main__WhyConsultant__Presentation__Content--Text {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Main__WhyConsultant__Presentation__Content--Text--Title {
  font-size: 65px;
}
.Main__WhyConsultant__Presentation__Content--Text--SubTitle {
  font-size: 35px;
}
.Main__WhyConsultant__Presentation__Content--Image {
  width: 100%;
  height: 600px;
  background-image: url("../../public/WhyConsultantPresentation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ESTILO PARA EL CONTENIDO DE LAS AYUDAS */
.Main__WhyConsultant__Help--Picture--Left,
.Main__WhyConsultant__Help--Picture--Right {
  min-width: 250px;
  height: 600px;
  background-image: url("../../public/WhyConsultantHelped.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.Main__WhyConsultant__Help--Picture--Right {
  background-position: right;
}
.Main__WhyConsultant__Help--Content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.Main__WhyConsultant__Help--Title {
  font-size: 65px;
}
.Main__WhyConsultant__Help--Title--Text {
  font-size: 25px;
}
/* ESTILOS PARA EL CONTENIDO DEL MENSAJE  */

.Main__WhyConsultant__Message--Title {
  font-size: 65px;
  margin: auto;
  max-width: 80%;
  text-align: center;
}
.Main__WhyConsultant__Message.Two .Main__WhyConsultant__Message--Title {
  order: 1;
}
.Main__WhyConsultant__Message--Title--Text {
  font-size: 25px;
  margin: auto;
  max-width: 80%;
  text-align: center;
}
.Main__WhyConsultant__Message.Two .Main__WhyConsultant__Message--Title--Text {
  order: 2;
}
.Main__WhyConsultant__Message--Picture {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.Main__WhyConsultant__Message--Picture.One {
  background-image: url("../../public/WhyConsultantMessage.jpg");
}
.Main__WhyConsultant__Message--Picture.Two {
  background-image: url("../../public/WhyConsultantManagement.jpg");
  background-position: center;
}

/* ESTILOS PARA LAS VENTAJAS */
.Main__WhyConsultant__Advantages--Details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.Main__WhyConsultant__Advantages--Details--Title {
  text-align: center;
  font-size: 65px;
}
.Main__WhyConsultant__Advantages--Details--Details {
  text-align: center;

  font-size: 25px;
}
.Main__WhyConsultant__Advantages--Picture {
  width: 100%;
  height: 600px;
  background-image: url("../../public/Estandares.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

/* ESTILOS PARA LA INNOVACIÓN */
.Main__WhyConsultant__Innovation--Details {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
.Main__WhyConsultant__Innovation--Details--Text {
  font-size: 25px;
}
.Main__WhyConsultant__Innovation--Picture {
  width: 100%;
  height: 600px;
  background-image: url("../../public/WhyConsultantInnovation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
/* DISEÑO PARA CELULARES */
@media (width <= 1440px) {
  .Main__WhyConsultant__Presentation,
  .Main__WhyConsultant__Help,
  .Main__WhyConsultant__Advantages,
  .Main__WhyConsultant__Message,
  .Main__WhyConsultant__Innovation {
    width: 100%;
  }
  .Main__WhyConsultant__Presentation__Content,
  .Main__WhyConsultant__Help,
  .Main__WhyConsultant__Advantages,
  .Main__WhyConsultant__Message,
  .Main__WhyConsultant__Innovation {
    padding: 40px 20px;
  }
}
@media (width <= 1337px) {
  .Main__WhyConsultant__Presentation__Content--Text--Title,
  .Main__WhyConsultant__Help--Title,
  .Main__WhyConsultant__Message--Title,
  .Main__WhyConsultant__Advantages--Details--Title {
    font-size: 55px;
  }
  .Main__WhyConsultant__Presentation__Content--Text--SubTitle {
    font-size: 30px;
  }
  .Main__WhyConsultant__Message--Title--Text,
  .Main__WhyConsultant__Advantages--Details--Details,
  .Main__WhyConsultant__Innovation--Details--Text´,
  .Main__WhyConsultant__Help--Title--Text {
    font-size: 20px;
  }
}
@media (width <= 1024px) {
  .Main__WhyConsultant__Presentation__Content--Text--Title,
  .Main__WhyConsultant__Help--Title,
  .Main__WhyConsultant__Message--Title,
  .Main__WhyConsultant__Advantages--Details--Title {
    font-size: 45px;
  }
  .Main__WhyConsultant__Message--Title,
  .Main__WhyConsultant__Message--Title--Text {
    max-width: 100%;
  }
  .Main__WhyConsultant__Presentation__Content--Text--SubTitle {
    font-size: 25px;
  }
  .Main__WhyConsultant__Message--Title--Text,
  .Main__WhyConsultant__Help--Title--Text,
  .Main__WhyConsultant__Advantages--Details--Details,
  .Main__WhyConsultant__Innovation--Details--Text {
    font-size: 18px;
  }
}
@media (width <= 768px) {
  .Main__WhyConsultant__Presentation__Content {
    flex-direction: column-reverse;
  }
  .Main__WhyConsultant__Advantages,
  .Main__WhyConsultant__Innovation {
    flex-direction: column;
  }
  .Main__WhyConsultant__Advantages--Picture,
  .Main__WhyConsultant__Innovation--Picture {
    height: 200px;
  }
  .Main__WhyConsultant__Help--Picture--Left,
  .Main__WhyConsultant__Help--Picture--Right,
  .Main__WhyConsultant__Message--Picture {
    width: 100%;
    height: 100px;
  }
  .Main__WhyConsultant__Help--Picture--Left {
    background-position: top;
  }
  .Main__WhyConsultant__Help--Picture--Right {
    background-position: bottom;
  }
  .Main__WhyConsultant__Help {
    flex-direction: column;
    padding: 40px 20px;
  }
  .Main__WhyConsultant__Presentation__Content--Image {
    height: 400px;
  }
}
@media (width <= 500px) {
  .Main__WhyConsultant__Presentation__Content--Image {
    height: 300px;
  }
  .Main__WhyConsultant__Presentation__Content--Text--Title,
  .Main__WhyConsultant__Help--Title,
  .Main__WhyConsultant__Message--Title,
  .Main__WhyConsultant__Advantages--Details--Title {
    font-size: 35px;
  }
  .Main__WhyConsultant__Presentation__Content--Text--SubTitle {
    font-size: 20px;
  }
  .Main__WhyConsultant__Message--Title--Text,
  .Main__WhyConsultant__Help--Title--Text,
  .Main__WhyConsultant__Advantages--Details--Details,
  .Main__WhyConsultant__Innovation--Details--Text {
    font-size: 16px;
  }
}
@media (width <= 378px) {
  .Main__WhyConsultant__Presentation__Content--Text--Title,
  .Main__WhyConsultant__Help--Title,
  .Main__WhyConsultant__Message--Title,
  .Main__WhyConsultant__Advantages--Details--Title {
    font-size: 30px;
  }
}
